.DS_Store

### Terraform ###
# Local .terraform directories
**/.terraform.*
**terraform

# .tfstate files
*.tfstate
*.tfstate.*
midterm-project/project/midterm-cloud-6432021021.zip
midterm-project/midterm-terraform-original.mov
midterm-project/midterm-terraform.mp4
